main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload_step_container{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.step_num, .step_num_incomplete{
  display: flex;
  align-items: center;
  gap: 10px;
}

.step_num p{
  color: #2563eb;
}

.num{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #2563eb;
  color: white;
}

.step_num_incomplete .num{
  border:#d1d5db solid 2px;
  color: #9ca3af;
  background-color: transparent;
}

.step_num_incomplete p{
  color: #9ca3af;
}

.step_dash{
  padding: 2px;
  border-radius: 5px;
  width: 100px;
  background-color: #d1d5db;
}

.upload_form{
  border: solid 1px #e5e7eb;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 40px;
  min-width: 60%;
  margin-bottom: 20px;
}

.step_1_container{
  border-radius: 30px;
  padding: 10px 15px;
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #dbeafe;
}

.step_1_container p{
  color: #1e40af;
}

.step_1_container svg{
  height: 22px;
  width: 22px;
  color: #1e40af;
}

.label_plus_input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.label_plus_icon{
  display: flex;
  align-items: center;
  gap: 5px;
}

.label_plus_icon p{
  font-size: 0.9em;
}

.label_plus_icon svg{
  width: 18px;
  height: 18px;
}

.label_plus_input input{
  width: 100%;
}

.labels_flex{
  /* 70% same for the label_plus_input */
  width: 70%;
  display: flex;
  gap: 10px;
}

.labels_flex .label_plus_input{
  flex: 1;
}

@media (prefers-color-scheme: dark){
  .num{
    background-color: #1e3a8a;
  }

  .step_dash{
    background-color: #4b5563;
  }

  .step_num_incomplete .num{
    border:#4b5563 solid 2px;
    color: #4b5563;
  }

  .step_num_incomplete p{
    color: #4b5563;
  }

  .upload_form{
    border: solid 1px #222222;
    background-color: #1a1a1a;
  }

  .step_1_container{
    background-color: #1e3a8a;
  }

  .step_1_container p{
    color: #bfdbfe;
  }

  .step_1_container svg{
    color: #bfdbfe;
  }

  .label_plus_icon svg{
    color: white;
  }
}