main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload_step_container{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.step_num, .step_num_incomplete{
  display: flex;
  align-items: center;
  gap: 10px;
}

.step_num p{
  color: #2563eb;
}

.num{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #2563eb;
  color: white;
}

.step_num_incomplete .num{
  border:#d1d5db solid 2px;
  color: #9ca3af;
  background-color: transparent;
}

.step_num_incomplete p{
  color: #9ca3af;
}

.step_dash{
  padding: 2px;
  border-radius: 5px;
  width: 100px;
  background-color: #d1d5db;
}

#complete_dash{
  background-color: #2563eb;
}

.upload_form{
  border: solid 1px #b6bbc4;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-bottom: 40px;
  min-width: 60%;
  margin-bottom: 20px;
}

.step_container{
  border-radius: 30px;
  padding: 10px 15px;
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #dbeafe;
}

.step_container p{
  color: #1e40af;
}

.step_container svg{
  height: 22px;
  width: 22px;
  color: #1e40af;
}

#step_2{
  background-color: #dcfce7;
}

#step_2 p{
  color: #166534;
}

#step_2 svg{
  color: #166534;
}

.product_summary_container{
  padding: 20px;
  border: solid 1px #b6bbc4;
  width: 100%;
  border-radius: 10px;
}

#step_3{
  justify-content: center;
}

#step_3, #step_3 svg, #step_3 p{
  color: black;
  margin: 0;
  background-color: transparent;
}

.summary_details{
  margin-top: 20px;
  display: flex;
}

.summary_details div{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label_plus_input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.label_plus_icon{
  display: flex;
  align-items: center;
  gap: 5px;
}

.label_plus_icon p{
  font-size: 0.9em;
}

.label_plus_icon svg{
  width: 18px;
  height: 18px;
}

.label_plus_input input{
  width: 100%;
}

.labels_flex{
  width: 70%;
  display: flex;
  gap: 10px;
}

.labels_flex .label_plus_input{
  flex: 1;
}

.horizontal_label_input{
  width: 100%;
  flex-direction: row;
  gap: unset;
}

.horizontal_label_input .label_plus_icon{
  flex: 1;
  cursor: pointer;
}

.horizontal_label_input input{
  width: initial;
  cursor: pointer;
}

.variant_text{
  font-size: 0.8em;
  color: #4b5563;
}

.next_media_container{
  border-radius: 10px;
  padding: 10px 15px;
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #2563EB;
}

.next_media_container p, .next_media_container svg{
  color: white;
}

.media_upload_container{
  padding: 20px;
  border: dashed 3px #b6bbc4;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.media_upload_container svg{
  height: 50px;
  width: 50px;
}

.upload_nav_container{
  display: flex;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.upload_nav_container .nav_button{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #b6bbc4;
  border-radius: 10px;
  padding: 15px 10px;
  gap: 10px;
}

#publish{
  border: none;
  background-color: #16a34a;
  color: white;
}

@media (prefers-color-scheme: dark){
  .num{
    background-color: #1e3a8a;
  }

  #complete_dash{
    background-color: #1e3a8a;
  }

  .step_dash{
    background-color: #4b5563;
  }

  .step_num_incomplete .num{
    border:#4b5563 solid 2px;
    color: #4b5563;
  }

  .step_num_incomplete p{
    color: #4b5563;
  }

  .upload_form{
    border: solid 1px #222222;
    background-color: #1a1a1a;
  }

  .step_container{
    background-color: #1e3a8a;
  }

  .step_container p{
    color: #bfdbfe;
  }

  .step_container svg{
    color: #bfdbfe;
  }

  #step_2{
    background-color: #14532d;
  }

  #step_2 p{
    color: #bbf7d0;
  }

  #step_2 svg{
    color: #bbf7d0;
  }

  #step_3, #step_3 svg, #step_3 p{
    color: white;
  }

  .label_plus_icon svg{
    color: white;
  }

  .variant_text{
    color: #9ca3af;
  }

  .upload_nav_container .nav_button{
    border: solid 1px #3a3a3a;
  }

  .product_summary_container{
    border: solid 1px #3a3a3a;
  }

  .media_upload_container{
    border: dashed 3px #3a3a3a;
  }

  .media_upload_container svg{
    color: white;
  }
}